.itemCount{
    display: block;
    border: 1px solid black;
    width: 250px;
}

.myCustomBlockCount{
    display: flex;
    justify-content: space-around;
}

.myCustomCard-photo{
    width: 350px;
    height: 450px;
}

.myCustomCartDetail{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.myCustomItemList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 2rem;
}

.myCustomItemList div{
    justify-self: center;
}

/* Cart */

.myCustomTable{
    font-size: 1.2rem;
    text-align: left;
    background-color: white;
    width: 75%;
    border-collapse: collapse;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
}

.myCustomTable th{
    text-align: center;
}

th, td{
    padding: 0.5rem;
}

thead{
    background-color: #011D28;
    border-bottom: solid 2px #034863;
    color: white;
}

.myCustomTd{
    text-align: center;
}

tr:nth-child(even){
    background-color: #ddd;
}

.myCustomTable a{
    color: black;
}

.myCustomTable a:hover{
    color: darkblue;
}